files/**/*.jpg filter=lfs diff=lfs merge=lfs -text
files/**/*.png filter=lfs diff=lfs merge=lfs -text
files/**/*.usdz filter=lfs diff=lfs merge=lfs -text
files/**/*.usdc filter=lfs diff=lfs merge=lfs -text
